/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and html settings */
html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Main content styles */
main {
    background-image: url('https://yandex-images.clstorage.net/5vnsC5150/8e1b4f4RtB/xy0SVkO1Ba3i7hQgqaPqAmimGsu0g2es9s0rKgYC6xASnM7iRNp8qTD6AUsy0ovMCwsu3rPk1n37vXABPPkBRdV_BRoA9Rv1taUIYeWk4wZ37QeDtMR7_v3aMHJeRuZJTsvJ2H7-D9hb0DUwRq6kjFkAfoOv-5FrlNtnR3iNWlrCKwxZaIh6gunRYDa6p8YFadw2zbjZSsX33UBRfUCbczuxrtVz_SHgV9EgK2eTmoNfJ16NnL6TT5LGDFJJi31U1So2YViyXrbF8E8Pnbn7IkPOOfu5yXnLyexQcntSkGMAq6jCR_cbzmzJKy5JtI2fTi94gaC3mVSp0B9TdoBEasAJA1pwiXuw0PRXL7C0ywxA4wLnkdpF_PvfelF3bJd1CZaN6WzuNO9T-CAoUKittHI0T4KhgZFKgM0TZluYUUT2Jxd1WaFzjejwYjCJivsrSvI15JXtS_z42nxFXma3aR-7qehIzBbfSfUILGSMjKRWH0-ukp2qUbneEUVivnZS3QQAX1iNQ4jx-U0tsrfkDV7SA92q9lTH1cBvREV7nG8Dt7HQcu4k8kbMHwNgs4mxaylpkKGyhWmFzi9AW4ZdY-YoClJ_pU-l5fx1MK6f5yVZ7wP3g9lD5f3AXV5-Upt1GJeI7EXNNP5h_h8paaOfkGw6bYOCgqpyjekIU2WCbXHHBQNQd5dFsc7UcziKvegCQNoQx7jqRPbY3VV7cl6-aiKfqtRy_Q37RvYmFk2BnqNzNEm0obmwTYb2DGdihXdM3RsNRVSMbZHr0UI3p5nGEWnLH-OZ31Ti1NtwdltCs2IVr5XwS8gG31TVEChriZy8aSlglIS4i3GIxiRaX4VEcsYrB0J5l2Ohzs5DNZu4yQp_5yT9psdj9vPrRnd7dZxvBZmX4XD0KtZMxTEqca-mmn0LXo28uIFLrugCQlusR2byNDVtcIJtr__UcQO8iNYMc_4bzIrLdvbWzGJYUXk');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 160px);
    /* Adjust based on header and footer height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 10px;
}

main .content p {
    margin-bottom: 1em;
    font-size: medium;
    font-weight: 600;
}

main .content button {
    padding: 0.5em 1em;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    background-color: #ff9900;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
    main .content {
        width: 90%;
        padding: 1em;
    }
}
